
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.intro{
    background: url("img/stars.jpg") center center no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#page2{
    background: url("img/guitar.jpg") center center no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#page3{
    background: url("img/concert.jpg") center center no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro h1, #page2 h1, #page3 h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 7em;
    color: white;
    
}